@media only screen and(min-width:0px) and (max-width: 600px){

	#header{ display: none; }
	  #sub-header{ display: block; }
	  .two-nav{word-spacing: 30px;margin: 4px;padding: 4px;}
	 
	
	#container{ width:100%; }
	  #content{width: 100%}
	  #main{ width: 100%; }
	  #sidebar{ display: none;}
	.logs{margin: 10px}
}
