body{margin: 0;padding: 0;
  font-family:"Microsoft YaHei",Verdana,  "Geneva",sans-serif,;background-color: #efefef;}
#container{width: 1000px;margin: 0 auto;}
#header{ background-color: #1c7da5; }
  #title-two{display: none;}
  #sub-header{ display: none; }
#title{padding: 50px 100px 50px 100px; }
a{text-decoration: none;color: #000000}
a:hover{color: blue;}
.one-nav{padding: 10px;margin: 10px;word-spacing: 60px;font-size: 18px}
li{display: inline;}

#footer{padding: 15px; margin: 10px 0 0 0;text-align: center;background-color: white;}
