#content{overflow: hidden;margin: 7px 0 0 0 ;}
#main{float: left;width:740px;background-color: white;}
.logs{padding: 20px;}
	.log{}
		.log-title{font-size: 25px;padding: 15px 0 0 0;  }
		.log-content{font-size: 17px;line-height: 35px;
			         border-bottom: 1px solid #efefef; padding: 15px 0}
    .log-date{padding-top: 15px;color: #efefef;}
#sidebar{float: right;width: 250px;text-align: center;}
    #about img{width: 200px; height: 130px;}
      #about{background-color: white;padding: 15px 0;}
        .name{font-size: 20px;padding-bottom: 10px;}
      #list{background-color: white;}
        .my-logs{font-size: 20px;margin: 7px 0;padding: 15px 0;}
        .catalog{font-size: 15px; padding: 10px 0;}
