#content{padding: 7px 0 0 0; background-color: white;}

.logs{padding: 20px;}
	.log{}
		.log-title{font-size: 25px;padding: 8px 0 0 0; }
		.log-content{font-size: 17px;line-height: 35px;}
		.log-date{padding: 15px 0;color: #efefef;}
